$primary: #1276ff !default;
$primary-light: #eaf3ff !default;

$text-color: #1b2f50 !default;
$text-color-light-1: #5e6c84 !default;
$text-color-light-2: #8d9cb5 !default;

$text-mute: #a2b2c7 !default;
