@import 'node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

:root {
  --bs-body-font-family: 'Manrope', sans-serif;
}

.ft-table {
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-size: 14px;
  line-height: 28px;
  color: #1b2f50;
}

.ft-bold {
  font-size: bold;
}
.ft-medium {
  font-size: medium;
}

.ft-normal {
  font-size: normal;
}
